{% load static from staticfiles %}
<html>
<head>
    <title>WaterEquity {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="all">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-86884686-1', 'auto');
      ga('send', 'pageview');

    </script>

</head>
<body class="body">
    <div class="daytonz-coolio">
<header role="banner">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-left" href="/">
                    <img src="{% static 'images/logo.svg' %}" class="logo" alt="Water Equity">

                </a>
            </div>
            <div class="collapse navbar-collapse"
                id="navbar-collapse"
                role="navigation"
                aria-expanded="false">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/challenge/">The Challenge</a></li>
                    <li>
                        <span class="dropdown-toggle"
                            href="/solution/"
                            type="button"
                            id="solution"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
                            The Solution </span>
                        </span>
                        <div class="dropdown-menu"
                            aria-labelledby="solution">
                            <ul>
                                <li><a href="/solution/">Overview</a>
                                </li>
                                <li><a href="/solution/proven-model/">A Proven Model</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/make-loan/" class="btn">Make a loan</a></li>
                    <li><i></i>
                        <span class="dropdown-toggle"
                            href="/investors/"
                            type="button"
                            id="investors"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
                            Accredited Investors </span>
                        </span>
                        <div class="dropdown-menu"
                            aria-labelledby="investors">
                            <ul>
                                <li><a href="/investors/">Overview</a>
                                </li>
                                <li><a href="/investors/funds/">Funds</a>
                                </li>
                                <li><a href="/investors/team/">Team</a>
                                </li>
                                <li><a href="/investors/request-info/"> Request Info</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

{% block body %}

{% endblock %}
</div>
<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 col-left">
                <div>
                    <h4 class="color--white">Signup to stay connected</h4>
                    <p>Help us solve the global water crisis in our lifetime. Join the movement to get updates, stories and more.</p>
                    <button class="btn" data-toggle="modal" data-target="#join" >
                        JOIN THE MOVEMENT
                    </button>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>

            <div class="col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4 nav col-right" style="margin-top: 30px;">
                <h4 class="color--white">Learn More</h4>
                <ul class="nav">
                    <li><a href="/challenge">The Challenge</a></li>
                    <li><a href="/solution">The Solution</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/make-loan">Make a Loan </a></li>
                    <li><a href="/investors">Accredited Investors</a></li>
                    <li><a href="/investors-portal">Investor Portal</a></li>
                </ul>
                <a href="/"><img src="{% static 'images/logo-alternate-color.svg' %}" alt="WaterEquity" class="logo" /></a>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 brand-blue copyright">
                Copyright &copy; {% now "Y" %} WaterEquity. <br>All rights reserved.
                <a href="/privacy-policy/">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
<div class="news-form modal fade in text-center" id="join" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content brand-dark-blue">
            <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="39.2 22.3 25 24.5" data-dismiss="modal" aria-label="Close">
                <path d="M39.5,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4l10.3-10.3L62,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4c0.5-0.5,0.5-1.3,0-1.8L53.5,34.3l9.8-9.8c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0l-9.8,9.8l-9.8-9.8c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l9.8,9.8L39.5,44.6C39,45.1,39,45.9,39.5,46.4z"></path>
            </svg>
            <h4>Join the Movement</h4>
            <p class="brand-dark-blue center-block">Help us solve the global water crisis in our lifetime. Join the movement to get updates, stories and more.</p>
            <!-- Begin MailChimp Signup Form -->
            <form action="//waterequity.us14.list-manage.com/subscribe/post?u=5a5d8ec0eea2b5efe15c29d65&amp;id=802359359f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <input type="email" value="" name="EMAIL" placeholder="EMAIL" id="mce-EMAIL">
                <input type="text" value="" name="FNAME" placeholder="NAME" id="mce-FNAME">
                <p class="brand-dark-blue">Are you an accredited investor or a representative of an accredited investor?</p>
                <label class="radio-inline" for="mce-INVESTOR-0">
                    <input type="radio" name="INVESTOR" id="mce-INVESTOR-0" value="Yes">Yes
                </label>
                <label class="radio-inline" for="mce-INVESTOR-1">
                    <input type="radio" name="INVESTOR" id="mce-INVESTOR-1" value="No">No
                </label>
		<label class="radio-inline" for="mce-INVESTOR-2">
		    <input type="radio" value="Not sure" name="INVESTOR" id="mce-INVESTOR-2">Not sure
		</label>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="margin-bottom: 24px;display:none"></div>
                    <div class="response" id="mce-success-response" style="margin-bottom: 24px;display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5a5d8ec0eea2b5efe15c29d65_802359359f" tabindex="-1" value=""></div>
                <input type="submit" value="JOIN" name="subscribe" id="mc-embedded-subscribe" class="button">
            </form>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
        </div>
    </div>
</div>

<script src="{% static 'js/lib/jquery.min.js' %}"></script>
<script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
<script src="{% static 'js/lib/player.min.js' %}"></script>
<script src="{% static 'js/lib/jquery.fitvids.min.js' %}"></script>
<script src="{% static 'js/app/main.js' %}"></script>
</html>
