{% extends "base.html" %}
{% load forms_builder_tags %}

{% block title %} |
Request Info
{% endblock %}

{% block body %}
<div class="container-fluid hero img-bg" style="background-image: url(https://waterequity.s3.amazonaws.com/media/filer_public/71/d6/71d681f1-323f-4d07-95d6-5b6b7baa2c15/happy-kid.jpg);background-attachment: fixed">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 center-block text-center">
                <h2 class="color--white ribbon-bg">Make an investment<br>Make an impact</h2>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid background--brand-dark-blue">
    <div class="row">
        <div class="col-md-12 color--white padding-54">
            <h2 class="text-center">Request a call or ask a question</h2>
            <div class="col-md-5 col-md-offset-1 center-block invest-form-special">
                {% render_built_form id=1 %}
            </div>
        </div>
    </div>
</div>

<div class="container container_padding--medium">
    <div class="row vertical-center-wrapper">
        <div class="col-md-6">
            <img class="img-responsive" src="https://waterequity.s3.amazonaws.com/media/filer_public/5d/c8/5dc8a0a0-62bd-48ab-9c4f-b9a9281c33fd/we_ebook_mockup.png" alt="waterequity ebook" />
        </div>
        <div class="col-md-6">
            <h2>Investing to End the Global Water Crisis</h2>
            <p>Download our ebook to learn more about the innovative market-based solution that is helping millions of people in crisis access clean water and sanitation.</p>
            <p><a title="download the waterequity ebook" href="/get-ebook/" class="btn background--medium-blue" target="_blank">Get the ebook</a></p>
        </div>
    </div>
</div>

<div class="container-fluid container_padding--medium background--light-blue text-center" style="background-color: #82c1ea">
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-block text-center color--white">
                <h2>Donate to Water.org</h2>
                <p>For decades, Water.org has innovated solutions that continue to break the cycle of poverty. To protect and save lives. To make a bright future possible for all.</p>
		<p>With your help, we can keep providing the help and the innovation to take down the global water crisis in our lifetime.</p>
                <p>Make a donation to support Water.org today.</p>
                <p><a title="Make an Impact" href="https://contribute.water.org/" class="btn " target="_blank">Give water today</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid background--medium-blue container_padding--medium img-bg img-big-space" style="background-image: url(https://waterequity.s3.amazonaws.com/media/filer_public/23/1b/231b9d84-5199-4eeb-8136-4bd1f41d4128/happykids.jpg); padding-top: 80px;">
</div>
{% endblock %}
