.btn,
input[type="submit"] {
    text-transform: uppercase;
    font: 16px $font-cta;
    color: $brand-variant-blue;
    padding: 20px 80px;
    border: 1px solid $brand-variant-blue;
    border-radius: 2px;
    background-color: transparent;
    outline: none !important;

    @include transition(color 0.3s, background-color 0.3s );
    &.white {
        color: $white;
        border-color: $white;
    }
    .nav &,
    &.nav {
        background-color: $brand-dark-blue;
        color: $medium-blue;
        border: none;
        padding: 8px 12px;
        font-size: 15px;
        &:hover {
            background-color: $medium-blue;
            color: $brand-dark-blue;
        }
    }
    .background--medium-blue & {
        margin-top: 22px;
        color: white;
        border-color: white;
        &:hover {
            color: $medium-blue;
            background-color: white;
        }
    }
    &.background--medium-blue {
        margin-top: 22px;
        color: white;
        border-color: white;
        background-color: $medium-blue;
        &:hover {
            background-color: $brand-dark-blue;
            border-color: $brand-dark-blue;
        }
    }
    .background--light-blue & {
        margin-top: 22px;
        color: white;
        border-color: white;
        &:hover {
            color: $light-blue;
            background-color: white;
        }
    }
    .background--brand-dark-blue & {
        margin-top: 22px;
        color: white;
        border-color: white;
        &:hover {
            color: $brand-dark-blue;
            background-color: white;
        }
    }
    .news-form & {
        background-color: $medium-blue;
        color: white;
        border-color: $medium-blue;
        &:hover,
        &:active {
            background-color: $brand-dark-blue;
            border-color: $brand-dark-blue;
        }
    }

    @media (max-width: 768px) {
        padding: 20px;
        width: 100% !important;
        max-width: 524px;
    }
}

// Vidoe Play Btn
.player,
.player * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.player {
    .play {
        font-size: 1em;
        border: solid 5px $light-blue;
        border-radius: 50%;
        padding: 0;
        margin: 0 auto;
        width: 4em;
        height: 4em;
        color: white;
        position: relative;
        background-color: transparent;

        @include transition( color 250ms ease-out, border-color 250ms, background-color 250ms);
        &:hover {
            border-color: darken($light-blue, 15%);
            .play-icon svg {
                fill: darken($light-blue, 15%);
            }
            background-color: white;
        }
        .play-icon {
            display: block;
            margin: 0 auto;
            padding: 0 0 0 0.4em;
            svg {
                width: 2em;
                height: 2em;
                fill: $light-blue;

                @include transition( fill 250ms ease-out);

                @media (max-width: 768px) {
                    width: 1.5em;
                    height: 1.5em;
                }
            }
        }

        @media (max-width: 768px) {
            position: absolute;
            left: 50%;
            margin-left: -1.5em;
            top: 50%;
            margin-top: -1.5em;
            width: 3em;
            height: 3em;
        }
    }
}
