
@font-face {
    font-family: GothamLight;
    src: url(../fonts/GothamLight.eot);
    src: local('☺'), url(../fonts/GothamLight.woff) format('woff'), url(../fonts/GothamLight.ttf) format('truetype'), url(../fonts/GothamLight.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: GothamMedium;
    src: url(../fonts/GothamMedium.eot);
    src: local('☺'), url(../fonts/GothamMedium.woff) format('woff'), url(../fonts/GothamMedium.ttf) format('truetype'), url(../fonts/GothamMedium.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: GothamBook;
    src: url(../fonts/Gotham-Book.eot);
    src: local('☺'), url(../fonts/Gotham-Book.woff) format('woff'), url(../fonts/Gotham-Book.ttf) format('truetype'), url(../fonts/Gotham-Book.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: GothamBold;
    src: url(../fonts/GothamBold.eot);
    src: local('☺'), url(../fonts/GothamBold.woff) format('woff'), url(../fonts/GothamBold.ttf) format('truetype'), url(../fonts/GothamBold.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: GothamBold-Italic;
    src: url(../fonts/GothamBold-Italic.eot);
    src: local('☺'), url(../fonts/GothamBold-Italic.woff) format('woff'), url(../fonts/GothamBold-Italic.ttf) format('truetype'), url(../fonts/GothamBold-Italic.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}
