@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    INPUT.CONTROL
    Friendlier HTML form controls with a little CSS magic.
\*----------------------------------------------------------------------------*/
/*  Variables
\*----------------------------------------------------------------------------*/
$control-width: 2.5em !default;
$control-space: $control-width*1.5 !default;
$control-line-height: $control-space !default;
$control-border-width: 0 !default;

// Colors
$control-label-color: $brand-dark-blue !default;
$control-border-color: none !default;
$control-background-color: $subtle-dark-blue !default;
$control-focus-color: $brand-dark-blue !default;
$control-error-color: $brand-blue !default;
$control-disabled-color: lightgray !default;

label {
    display: block;
    max-width: 100%;
    margin-bottom: 0;
}

form {
    p {
        margin-bottom: 12px;
        position: relative;

        span {
            position: absolute;
            top: 9px;
            right: -10px;
        }

        label.radio-inline span {
            display: none;
        }
    }

    ul {
        list-style-type: none;
        margin-left: -40px;

        li {
            float: left;
            margin-right: 16px;
        }
    }

    .color--white & {
        input,
        textarea {
            color: $brand-dark-blue;
        }
    }

    textarea {
        text-align: left;
        height: 80px;
        padding: 4px;
        max-width: 100%;
        width: 100%;
    }

    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="text"] {
        width: 100%;
    }

    input[type="submit"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
/*  Component
\*----------------------------------------------------------------------------*/
form {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;

    input:not(.lend) {
        display: block;
        width: 100%;
    }

    p {
        .news-form & {
            text-align: center;
            line-height: 1em;
        }
    }

    .news-form & {
        .radio input[type="radio"],
        .radio-inline input[type="radio"] {
            margin-top: 4px;
        }
    }
}

input {
    .news-form & {
        position: relative;
        display: inline-block;
        padding-left: 0;
        color: white;
        line-height: $control-line-height;
        cursor: pointer;
        outline: none;
        text-align: center;
        border: none;
        background-color: $control-background-color;
        margin-bottom: 16px;

        &:placeholder {
            color: $medium-blue;
            opacity: 1;
            text-align: center;
        }

        &::-webkit-input-placeholder {
            color: $medium-blue;
        }

        &[type="submit"] {
            background-color: $subtle-blue;
            line-height: 1em;
            color: white;
            border-color: $subtle-blue;
            padding: 24px;

            &:active,
            &:hover {
                background-color: white;
                color: $brand-dark-blue;
                border: solid 1px $brand-dark-blue;
            }
        }
    }
}

.invest-form-special {
    h1 {
        display: none;
    }
    padding-bottom: 54px !important;
}
/**
 * Actual input, needs to be hidden but not removed from rendering
 */
.control__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
/*  Indicator
    Visual representation of the input
\*----------------------------------------------------------------------------*/
.control__indicator {
    position: absolute;
    top: $control-line-height/2;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    display: block;
    width: $control-width;
    height: $control-width;
    line-height: $control-width;
    border: $control-border-width solid $control-border-color;
    text-align: center;
    background-color: $control-background-color;
    user-select: none;
}
/*  States
\*----------------------------------------------------------------------------*/
/**
 * Checked/active
 */
/**
 * Focus
 */
/**
 * Disabled
 */
/*  Modifiers
\*----------------------------------------------------------------------------*/
/**
 * Radio & Checkbox
*/

label.btn {
    border: none;
    padding: 0;
    text-align: left;
    outline: none !important;
    color: currentColor;
    font-size: 18px;
    h2 { // snoflake for lend money form
        margin: -20px 0 0 21.33333%;

        @media (max-width: 768px) {
            margin-left: 8.33333%;
        }
    }
    span {
        margin-top: -4px;
        white-space: normal;
        &.wrap {
            margin-top: -21px;
        }
    }

    .form-horizontal & {
        clear: both;
    }

    &.active,
    &:active {
        box-shadow: none;
    }
    &:hover,
    &:focus,
    &.focus {
        background-color: transparent !important;
        color: currentColor !important;
    }

    &.check,
    &.radio {
        position: relative;
        margin: 8px 0 16px 52px !important;
        padding-left: 24px;
        display: block;
        height: 52px;
        &::before, // the border provider
        &::after { // the middle mark
            content: "";
            position: absolute;

            @include transition(background-color 0.3s, opacity 0.3s);
        }
        &::before {
            height: 52px;
            width: 52px;
            top: -16px;
            left: -38px;
            border: 1px solid currentColor;
        }
        &::after {
            height: 34px;
            width: 34px;
            top: -7px;
            left: -29px;
        }
    }

    &.radio {
        &::after,
        &::before {
            border-radius: 50%;
        }
        &.active::after {
            background-color: currentColor;
        }
    }
    &.check {
        &::after {
            opacity: 0;
        }
        &.active::after {
            background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.79 27.27"><path d="M14.64,27.74l0.12,0.12L34.18,8.43,26.33,0.58,14.64,12.27l-6.4-6.4L0.39,13.72,14.52,27.86Z" fill="%23ffffff" transform="translate(-0.39 -0.58)"/></svg>');
            background-repeat: no-repeat;
            background-position: 0 5px;
            opacity: 1;
        }
    }
}

.radio-inline { // bootstrap label wrap input
    margin-bottom: 16px;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
    margin-top: 9px;
}
