@charset "UTF-8";
/*----------------------------------------------------------------------------*\
    INPUT.CONTROL
    Friendlier HTML form controls with a little CSS magic.
\*----------------------------------------------------------------------------*/
/*  Variables
\*----------------------------------------------------------------------------*/
$control-width: 2.5em !default;
$control-space: $control-width*1.5 !default;
$control-line-height: $control-space !default;
$control-border-width: 0 !default;

// Colors
$control-label-color: $brand-dark-blue !default;
$control-border-color: none !default;
$control-background-color: $subtle-dark-blue !default;
$control-focus-color: $brand-dark-blue !default;
$control-error-color: $brand-blue !default;
$control-disabled-color: lightgray !default;

label {
    display: block;
    max-width: 100%;
    margin-bottom: 0;
}

form {
    p {
        margin-bottom: 12px;
        position: relative;

        span {
            position: absolute;
            top: 9px;
            right: -10px;
        }

        label.radio-inline span {
            display: none;
        }
    }

    ul {
        list-style-type: none;
        margin-left: -40px;

        li {
            float: left;
            margin-right: 16px;
        }
    }

    .color--white & {
        input,
        textarea {
            color: $brand-dark-blue;
        }
    }

    textarea {
        text-align: left;
        height: 80px;
        padding: 4px;
        max-width: 100%;
        width: 100%;
    }

    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="text"] {
        width: 100%;
    }

    input[type="submit"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
/*  Component
\*----------------------------------------------------------------------------*/
form {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;

    input:not(.lend) {
        display: block;
        width: 100%;
    }
}

.invest-form-special {
    h1 {
        display: none;
    }
    padding-bottom: 54px !important;
}
/**
 * Actual input, needs to be hidden but not removed from rendering
 */
.control__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
/*  Indicator
    Visual representation of the input
\*----------------------------------------------------------------------------*/
.control__indicator {
    position: absolute;
    top: $control-line-height/2;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    display: block;
    width: $control-width;
    height: $control-width;
    line-height: $control-width;
    border: $control-border-width solid $control-border-color;
    text-align: center;
    background-color: $control-background-color;
    user-select: none;
}
/*  States
\*----------------------------------------------------------------------------*/
/**
 * Checked/active
 */
/**
 * Focus
 */
/**
 * Disabled
 */
/*  Modifiers
\*----------------------------------------------------------------------------*/
/**
 * Radio & Checkbox
*/

label.btn {
    border: none;
    padding: 0;
    text-align: left;
    outline: none !important;
    color: currentColor;
    font-size: 18px;
    span {
        margin-top: -4px;
        white-space: normal;
        &.wrap {
            margin-top: -21px;
        }
    }

    .form-horizontal & {
        clear: both;
    }

    &.active,
    &:active {
        box-shadow: none;
    }
    &:hover,
    &:focus,
    &.focus {
        background-color: transparent !important;
        color: currentColor !important;
    }

    &.check,
    &.radio {
        position: relative;
        margin: 8px 0 16px 16px !important;
        padding-left: 24px;
        display: block;
        &::before, // the border provider
        &::after { // the middle mark
            content: "";
            position: absolute;

            @include transition(background-color 0.3s, opacity 0.3s);
        }
        &::before {
            height: 28px;
            width: 28px;
            top: -8px;
            left: 0;
            border: 3px solid currentColor;
        }
        &.active::before {
            background-color: white;
            border-color: $brand-blue;
        }

        @media (max-width: 768px) {
            margin-bottom: 8px;
        }
    }

    &.radio {
        border-radius: 50%;
        &::after,
        &::before {
            border-radius: 50%;
        }
        &.active::after {
            background-color: $brand-blue;
            height: 14px;
            width: 14px;
            top: -1px;
            left: 7px;
        }
    }
    &.check {
        label.error {
            position: absolute;
            top: -57px;
            left: -20px;
        }
        &::before {
            top: -6px;
        }
        &::after {
            height: 18px;
            width: 18px;
            top: -4px;
            left: 5px;
            background-color: transparent;
            opacity: 0;
        }
        &.active::after {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOC4wNSAxNC41OCI+PHRpdGxlPmNoZWNrPC90aXRsZT48cG9seWdvbiBwb2ludHM9IjEzLjg4IDAgMTguMDUgNC4yIDcuNjYgMTQuNTggMCA3LjAxIDQuMTggMi44MSA3LjYgNi4yNyAxMy44OCAwIiBmaWxsPSIjMDBiMGU3Ii8+PC9zdmc+');
            background-repeat: no-repeat;
            background-position: 0 4px;
            opacity: 1;
        }
    }
}

.radio-inline { // bootstrap label wrap input
    margin-bottom: 16px;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
    margin-top: 9px;
    .news-form & {
        margin-top: 5px;
    }
}
