{{> organisms-header }}
{{> molecules-home-hero }}
{{> molecules-centered-copy }}
{{> molecules-half-blocks }}
<div class="container container_padding--medium">
    <div class="row">
        <div class="col-md-8 col-sm-12 center-block text-center">
            <h2>BORN OUT OF INNOVATION & EXPERIENCE</h2>
            <p>WaterEquity is an innovation of Water.org. We have the unique advantage of building on the decades of experience and success, helping millions by breaking down the barriers to safe water and sanitation.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-sm-12 center-block text-center">
            <div class="col-md-6 padding-34-54">
                <p>Today, accredited investors are investing in WaterEquity to power MFIs with access to more affordable capital. </p>
                <p><a href="/investors" class="btn background--medium-blue" style="width: 280px; padding: 20px 0">Accredited Investors</a></p>
            </div>
            <div class="col-md-6 padding-34-54 left-vertical-divider">
                <p>Soon, everyone—large investors and small—will be able to make a loan via WaterEquity.</p>
                <p><a href="/make-loan" class="btn background--medium-blue">Make a Loan</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container_padding--medium background--medium-blue">
    <div class="row">
        <div class="col-md-8 col-sm-12 center-block text-center">
            <h2>We can solve this in our lifetime</h2>
            <p><button title="Make an impact" href="#" class="btn ">Make an impact</button></p>
        </div>
    </div>
</div>

{{> organisms-footer }}
