.DS_Store
config.ini
latest-change.txt
.idea
.bash*
*.ssh/
.viminfo
.vim/
.bash_history
.profile
.psql_history
.pip/pip.log
.vim/
.psql_history
*.pyc
settings_local.py

#Pl specific
public/index.html
public/styleguide/*
public/styleguide/html/styleguide.html
public/styleguide/css/*.css
public/_js/lib/modernizr.*
public/_js/patternlab-*
public/js/*
public/css/*
public/patterns/*
public/data/*
public/css/style.css.map
public/annotations/*
patternlab.json
*.cache/
*.map
*-ck.js
*.sass-cache/
bower_components/
node_modules/
