.DS_Store
config.ini
latest-change.txt
.idea
.bash*
*.ssh/
.viminfo
.vim/
.bash_history
.profile
.psql_history
.pip/pip.log
.vim/
.psql_history
*.pyc
settings_local.py
.local/
certbot-auto/
certbot*

#Pl specific
patternlab/public/index.html
patternlab/public/styleguide/*
patternlab/public/styleguide/html/styleguide.html
patternlab/public/styleguide/css/*.css
patternlab/public/_js/lib/modernizr.*
patternlab/public/_js/patternlab-*
patternlab/public/js/*
patternlab/public/css/*
patternlab/public/patterns/*
patternlab/public/data/*
patternlab/public/css/style.css.map
patternlab/public/annotations/*
patternlab.json
*.cache/
*.map
*-ck.js
*.sass-cache/
bower_components/
node_modules/

#Django
django_project/static/filer/

#Linux user
.ipython/
.linuxbrew/
.node-gyp/
.npm/
.selected_editor
