<div class="daytonz-coolio">
    <header role="banner">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar-collapse"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-left" href="/">
                    {{> atoms-logo }}
                </a>
        </div>
        <div class="collapse navbar-collapse"
            id="navbar-collapse"
            role="navigation"
            aria-expanded="false">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/challenge">The Challenge</a></li>
                <li>
                    <span class="dropdown-toggle"
                        href="/solution"
                        type="button"
                        id="solution"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="true">
                        The Solution </span>
                    </span>
                    <div class="dropdown-menu"
                        aria-labelledby="solution">
                        <ul>
                            <li><a href="/solution">Overview</a>
                            </li>
                            <li><a href="/solution/proven-model">A proven model</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="/make-loan" class="btn">Make a loan</a></li>
                <li><i></i>
                    <span class="dropdown-toggle"
                        href="/investor"
                        type="button"
                        id="investor"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="true">
                        Accredited Investors </span>
                    </span>
                    <div class="dropdown-menu"
                        aria-labelledby="investor">
                        <ul>
                            <li><a href="/investor">Overview</a>
                            </li>
                            <li><a href="/investor/funds">Funds</a>
                            </li>
                            <li><a href="/investor/request-info"> Request Info</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
