<ul class="social text-center">
    <li><a href="#"><img src="../../images/facebook-icon.svg" alt="Facebook" /></a></li>
    <li><a href="#"><img src="../../images/twitter-icon.svg" alt="Twitter" /></a></li>
    <li><a href="#"><img src="../../images/linkedin-icon.svg" alt="LinkedIn" /></a></li>
</ul>
