{% extends "base.html" %}
{% load forms_builder_tags %}

{% block title %} |
Make an Impact
{% endblock %}

{% block body %}
<div class="container-fluid hero img-bg" style="background-image: url(https://waterequity.s3.amazonaws.com/media/filer_public/6e/5a/6e5a0a92-3b24-4cdd-907e-446c0da92efc/make-a-loan-for-the-people.jpg); background-attachment: fixed">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 center-block text-center">
                <h2 class="color--white ribbon-bg">Make an loan<br>Make an impact</h2>
            </div>
        </div>
    </div>
</div>
<div id="make-loan" class="container-fluid container_padding--medium background--xtra-light-blue text-center">
    <div class="row">
        <div class="col-md-8 center-block text-center">
            <h2>Make a loan</h2>
            <form id="loanForm" class="form-horizontal text-left center-block">
                {% csrf_token %}
                <div class="form-group row" data-toggle="buttons">
                    <label class="radio-inline radio btn col-xs-1" for="radio-value">
                        <input type="radio" name="amount" id="radio-value" date-stripe="amount" style="margin-top: -8px"/>
                    </label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control input-value" />
                    </div>
                    <span class="col-md-6">$25 is all it takes to make an impact</span>
                    <br>
                    <label class="radio-inline radio btn col-xs-4" for="220">
                        <input type="radio" name="amount" id="220" date-stripe="amount" value="220" /> <h2>$220</h2>
                    </label>
                    <span class="col-md-6">Our lender average per loan.</span>
                </div>
                <div class="form-group row">
                    <div class="col-md-8">
                        <label>Card Number:</label>
                        <input class="form-control cc_number"
                            placeholder="&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull;"
                            data-stripe="number"
                            autocomplete="cc-number"
                            required creditcard />
                    </div>
                    <div class="col-xs-4">
                        <label>Expires:</label>
                        <input class="form-control cc_exp_month"
                            placeholder="MM/YY"
                            data-stripe="exp"
                            autocomplete="cc-exp"
                            required />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-8">
                        <label>Name on Card:</label>
                        <input type="text"
                            class="form-control name"
                            autocomplete="name"
                            data-stripe="name"
                            name="name"
                            required />
                    </div>
                    <div class="col-xs-4">
                        <label>Card Code:</label>
                        <input type="text"
                            class="form-control cvc"
                            placeholder="CVC"
                            autocomplete="off"
                            required />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12">
                        <label>Email Address: <em>We'll use this to update you on your loan<sup>*<sup></em></label>
                            <input type="email"
                                class="form-control email"
                                autocomplete="email"
                                data-stripe="email-address"
                                name="email-address"
                                required />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12">
                        <label>Address:</label>
                        <input type="text"
                            class="form-control streetAddress"
                            autocomplete="street-address"
                            placeholder="1 Royal Way"
                            data-stripe="address_line1" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-8">
                        <label>City:</label>
                        <input type="text"
                            class="form-control address_city"
                            autocomplete="billing locality"
                            placeholder="Kansas City"
                            data-stripe="address_city" />
                    </div>
                    <div class="col-xs-4">
                        <label>Zip:</label>
                        <input type="text"
                            class="form-control"
                            autocomplete="postal-code"
                            placeholder="64129"
                            data-stripe="address_zip" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-8">
                        <label>State:</label>
                        <input type="text"
                            class="form-control"
                            autocomplete="billing region"
                            placeholder="MO"
                            data-stripe="address_state" />
                    </div>
                    <div class="col-xs-4">
                        <label>Country:</label>
                        <input type="text"
                            class="form-control"
                            autocomplete="billing country"
                            placeholder="64129"
                            data-stripe="address_zip" />
                    </div>
                </div>
                <div class="form-group checkbox row" data-toggle="buttons"style="margin-top: 34px">
                    <label class="btn check-inline check color--white center-block" for="agree">
                      <input type="checkbox" value="true" name="accept-terms" id="agree" required />
                      <span class="col-xs-12">I accept terms of agreement <br/><a href="/terms-of-use/" target="_blank">WaterEquity Terms of Use Agreement</a></span>
                    </label>
                </div>
                <div class="payment-errors alert alert-warning collapse"></div>
                <div class="form-group text-center ">
                    <input type="submit" class="btn lend" value="Confirm Payment" />
                </div>
            </form>
            <div class="col-md-9 center-block padding-54 background--light-blue color--white thanks">
                <h2>Thank you for your loan!</h2>
                <p>Please check your inbox for a confirmation email. If you have any questions please email us at <a href="mailto:info@waterequity.org">info@waterequity.org</a> or call (816) 800-8100.</p>
            </div>

            <script src="https://js.stripe.com/v2/"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/additional-methods.min.js"></script>
            <script>
                $(function() {
                    var form = $('#loanForm');

                    Stripe.setPublishableKey('{{stripe_public_key}}');

                    form.validate({
                        submitHandler: function (form) {
                            return false;
                        },
                        errorPlacement: function(error, element) {
                            error.delay(1000).insertAfter(element);
                        }
                    });

                    form.submit(function(e) {
                        e.preventDefault();
                        var $form = $(e.target);

                        Stripe.card.createToken($form, function(status, response) {
                            if (response.error) {
                                $form.find('.payment-errors').text(response.error.message).show();
                            } else {
                                $form.find('input[name="stripeToken"]').remove();
                                $form.append($('<input type="hidden" name="stripeToken" />').val(response.id));
                                // You can submit the form to back-end as usual

                                $.ajax({
                                    type: 'POST',
                                    url: '/make-loan/create-loan/',
                                    data: $form.serialize(),
                                    success: function(response) {
                                        loanFormSuccess();
                                    },
                                    error: function(response) {
                                        $form.find('.payment-errors').text(response.responseJSON.message).show();
                                    }
                                });
                            }
                        });
                        return false;
                    });
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}
