{{#inputRadio}}
<div data-toggle="buttons">
<label class="radio-inline radio btn" for="25">
    <input type="radio"
        name="amount"
        id="25"
        value="25"
        required/> Button style inline radio
</label>
<label class="radio-inline radio btn active" for="55">
    <input type="radio"
        name="amount"
        id="55"
        value="25"
        checked /> Button style inline radio selected
</label>
</div>
{{/inputRadio}}
