{{#inputCheckbox}}
<div class="checkbox" data-toggle="buttons">
    <label class="btn check" for="1">
      <input type="checkbox" id="1"> Check me out
    </label>
    <br>
    <label class="btn check active" for="2">
      <input type="checkbox" id="2" checked> Check me checked
    </label>
</div>
{{/inputCheckbox}}
