<div class="container container_padding--medium">
    <div class="row">
        <div class="col-md-8 col-sm-12 center-block text-center">
            <h2>A Game-Changing Solution</h2>
            <p>We stand on the brink of something monumental. The ability to scale and accelerate a solution to end the global water crisis.</p>
        </div>
    </div>
</div>
