<div class="container">
    <div class="row">
        <div class="col-md-6 half-blocks background--xtra-light-blue vertical-center-wrapper">
            <div class="col-md-9 col-md-offset-1">
                <h2>Charity alone cannot match the scale of the crisis</h2>
                <p>Experts project that it would take donations of US $200 billion a year over five years to end the global water and sanitation crisis. Currently, annual aid amounts to just US $8 billion. WaterEquity unlocks global capital markets to help close the gap.</p>
            </div>
        </div>
        <div class="col-md-6 half-blocks img-bg text-center player playVideo vertical-center-wrapper" style="background-image: url(../../images/666Million.jpg)">
            <button class="play">
                <div class="play-icon">
                    <svg viewBox="0 0 20 20" preserveAspectRatio="xMidYMid" tabindex="-1">
                        <polygon class="fill" points="1,0 20,10 1,20"></polygon>
                    </svg>
                </div>
            </button>
        </div>
    </div>
</div>
