<div class="container container_padding--medium">
    <div class="row">
        <div class="col-md-4 text-center padding-54">
            <img src="../../images/invest.png" alt="invest" style="margin-top: 29px" />
            <h4 class="brand-dark-blue">Invest</h4>
            <p>Tap the potential for both social and financial returns.</p>
        </div>
        <div class="col-md-4 text-center padding-54">
            <img src="../../images/empower.png" alt="invest" />
            <h4 class="brand-dark-blue">Empower</h4>
            <p>Empower those in crisis to help solve the crisis.</p>
        </div>
        <div class="col-md-4 text-center padding-54">
            <img src="../../images/amplify.png" alt="invest" style="margin-top: 24px" />
            <h4 class="brand-dark-blue">Amplify</h4>
            <p>Building on philanthropy to scale your impact.</p>
        </div>
    </div>
</div>
