<div class="container-fluid container_padding--medium background--xtra-light-blue">
    <h2 class="text-center">HOW IT WORKS</h2>
    <div class="col-md-8 center-block">
        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" src="../../images/pipeline.png" alt="Develop the pipeline">
            </div>
            <div class="media-body">
                <h3 class="media-heading brand-dark-blue">Develop the pipeline</h3>
                <p>Building on 13 years of experience with WaterCredit, WaterEquity will identify investment-ready enterprises able to serve the water and sanitation needs of the world’s poor. This pipeline for investment will include microfinance institutions, product manufacturers and water utilities.</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" src="../../images/unlockCapital.png" alt="Unlock global capital markets ">
            </div>
            <div class="media-body">
                <h3 class="media-heading brand-dark-blue">Unlock global capital markets </h3>
                <p>WaterEquity will connect social impact investors with enterprises that have the potential to reach hundreds of millions of people who lack access to safe water and sanitation.</p>
            </div>
        </div>
    </div>
</div>
