<div class="container container_padding--medium" style="margin-bottom: 50px;">
    <div class="row">
        <div class="col-md-9 center-block staff text-center">
            <h2>Our Team</h2>
            <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#garyWhite">
                <div class="col-md-12 center-block">
                    <div class="center-block background--brand-dark-blue pic" style="background-image: url(https://waterequity.s3.amazonaws.com/media/filer_public/98/7a/987a42f2-2aa6-4b4e-85c1-eae2327476c7/garywhite.jpg)">
                    </div>
                    <h4 class="brand-dark-blue">Gary White</h4>
                    <p class="brand-dark-blue">Chief Executive Officer</p>
                    <div class="hover-info center-block ">
                        <hr>
                        <p>Gary White leads WaterEquity with his entrepreneurial vision. This vision has driven innovations in the way water and sanitation projects are delivered and financed.<br>
                        <span class="brand-dark-blue ">MORE &gt; </span></p>
                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="garyWhite">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="39.2 22.3 25 24.5" data-dismiss="modal" aria-label="Close">
                    <path d="M39.5,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4l10.3-10.3L62,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4c0.5-0.5,0.5-1.3,0-1.8L53.5,34.3l9.8-9.8c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0l-9.8,9.8l-9.8-9.8c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l9.8,9.8L39.5,44.6C39,45.1,39,45.9,39.5,46.4z"></path>
                </svg>
                  <div class="modal-body">
                      <img class="center-block" src="https://waterequity.s3.amazonaws.com/media/filer_public/98/7a/987a42f2-2aa6-4b4e-85c1-eae2327476c7/garywhite.jpg">
                      <h4 class="brand-dark-blue">Gary White</h4>
                      <p class="brand-dark-blue">Chief Executive Officer</p>
                      <hr>
                      <p>Gary White leads WaterEquity with his entrepreneurial vision. Over the past 25 years, this vision has driven innovations in the way water and sanitation projects are delivered and financed, innovations that now serve as a model in the sector. </p>
                      <p>Gary is also the Chief Executive Officer and Co-founder  of Water.org, a nonprofit organization dedicated to empowering people in the developing world to gain access to safe water and sanitation. (Water.org is the resulting organization of the July 2009 merger between WaterPartners, co-founded by Gary in 1990, and H2O Africa, co-founded by actor Matt Damon). He developed Water.org’s WaterCredit Initiative, creating new financing options for poor populations to meet their water supply and sanitation needs. </p>
                      <p>Gary is a leading advisor in the water and sanitation space, counseling organizations such as the, Skoll Foundation, MasterCard Foundation, PepsiCo Foundation, IKEA Foundation, Caterpillar Foundation and the Clinton Global Initiative on responses to the global water crisis. Gary is a founding board member of the Millennium Water Alliance and Water Advocates. </p>
                      <p>Gary was selected as a Skoll Foundation Social Entrepreneur in 2009 and a Schwab Foundation Social Entrepreneur in 2012. In 2011, he was named to the TIME 100 list of the world’s most influential people.  In 2014 he was named to the World Economic Forum’s Global Agenda Council on Water. </p>
                      <p>Gary’s educational credentials include three degrees in Civil and Environmental Engineering from the University of North Carolina at Chapel Hill and the Missouri University of Science &amp; Technology.</p>
                  </div>
                </div>
              </div>
            </div><!-- /.modal -->

            <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#tomLight">
                <div class="col-md-12 center-block">
                    <div class="center-block background--light-blue pic" style="background-image: url(https://waterequity.s3.amazonaws.com/media/filer_public/e0/c1/e0c1e26f-867e-4ff6-a365-944d2f6b6547/tomlight.jpg)">
                    </div>
                    <h4 class="brand-dark-blue">Tom Light</h4>
                    <p class="brand-dark-blue">Managing Director</p>
                    <div class="hover-info center-block ">
                        <hr>
                        <p>Tom Light serves as the senior leader to oversee all aspects of the business including strategy, operations and expansion. <br>
                        <span class="brand-dark-blue">MORE &gt; </span></p>
                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="tomLight">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="39.2 22.3 25 24.5" data-dismiss="modal" aria-label="Close">
                    <path d="M39.5,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4l10.3-10.3L62,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4c0.5-0.5,0.5-1.3,0-1.8L53.5,34.3l9.8-9.8c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0l-9.8,9.8l-9.8-9.8c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l9.8,9.8L39.5,44.6C39,45.1,39,45.9,39.5,46.4z"></path>
                </svg>
                  <div class="modal-body">
                      <img class="center-block" src="https://waterequity.s3.amazonaws.com/media/filer_public/e0/c1/e0c1e26f-867e-4ff6-a365-944d2f6b6547/tomlight.jpg">
                      <h4 class="brand-dark-blue">Tom Light</h4>
                      <p class="brand-dark-blue">Managing Director</p>
                      <hr>
                      <p>Tom Light serves as the senior leader to oversee all aspects of the business including strategy, operations and expansion. He brings over 15 years of experience in investment banking, impact investing, and public-private partnership development to the role.</p>
                      <p>Previously, Tom led Grameen Foundation’s impact investing strategy as the Head of the Capital Management &amp; Advisory Center, where he was responsible for directing approximately $50 million in capital through two investment facilities that provided credit enhancements, loans, and equity investments to innovative social enterprises and microfinance institutions across Sub-Saharan Africa, Asia and the Americas. Prior to that, Tom held executive-level positions in investment banking at UBS AG and in the non-profit sector with the Clinton Health Access Initiative.</p>
                      <p>Tom received his B.A with honors from the University of Michigan in Quantitative Economics, holds a MBA in Finance from the Wharton School at the University of Pennsylvania and is a Chartered Financial Analyst (CFA).</p>
                  </div>
                </div>
              </div>
            </div><!-- /.modal -->

            <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#johnMoyer">
                <div class="col-md-12 center-block">
                    <div class="center-block background--brand-dark-blue pic" style="background-image: url(https://waterequity.s3.amazonaws.com/media/filer_public/2f/71/2f714a5a-3298-453e-b88c-f8f5421efcaa/johnmoyer.jpg)">
                    </div>
                    <h4 class="brand-dark-blue">John Moyer</h4>
                    <p class="brand-dark-blue"> Director of Portfolio Development </p>
                    <div class="hover-info center-block ">
                        <hr>
                        <p>John Moyer oversees investments in water and sanitation enterprises and financial institutions, including deal sourcing, due diligence, and structuring.<br>
                        <span class="brand-dark-blue">MORE &gt; </span></p>
                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="johnMoyer">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="39.2 22.3 25 24.5" data-dismiss="modal" aria-label="Close">
                    <path d="M39.5,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4l10.3-10.3L62,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4c0.5-0.5,0.5-1.3,0-1.8L53.5,34.3l9.8-9.8c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0l-9.8,9.8l-9.8-9.8c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l9.8,9.8L39.5,44.6C39,45.1,39,45.9,39.5,46.4z"></path>
                </svg>
                  <div class="modal-body">
                      <img class="center-block" src="https://waterequity.s3.amazonaws.com/media/filer_public/2f/71/2f714a5a-3298-453e-b88c-f8f5421efcaa/johnmoyer.jpg">
                      <h4 class="brand-dark-blue">John Moyer</h4>
                      <p class="brand-dark-blue"> Director of Portfolio Development </p>
                      <hr>
                      <p>John Moyer oversees investments in water and sanitation enterprises and financial institutions, including deal sourcing, due diligence, and structuring.</p>
                      <p>Throughout his career, John has worked to increase investment in underserved businesses and households. Prior to joining WaterEquity, he led Water.org’s market entry into Southeast Asia, building the local infrastructure and partner network to launch the WaterCredit initiative in three new countries. He oversaw the launch of collaboration with over 20 microfinance institutions, as well as new water and sanitation financing models with water utilities, banks, and financial cooperatives.</p>
                      <p>Previously, John worked for CHF International’s (now Global Communities) Office of Development Finance, which manages a network of twelve financial institutions in Africa and the Middle East. He has also held multiple roles as a consultant in the microfinance and SME finance sectors, including stints with Alternative Credit Technologies as well as his own consulting business.</p>
                      <p>John received his B.A. in Applied Economics and Management from Cornell University and holds a Master of International Economics and International Development from Johns Hopkins University.</p>
                  </div>
                </div>
              </div>
            </div><!-- /.modal -->

            <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#AlixLebec">
                <div class="col-md-12 center-block">
                    <div class="center-block background--brand-dark-blue pic" style="background-image: url(https://waterequity.s3.amazonaws.com/media/filer_public/73/fc/73fcc6d6-1726-4235-b2eb-eadcb2cb6b94/alixlebec.jpg)">
                    </div>
                    <h4 class="brand-dark-blue">Alix Lebec</h4>
                    <p class="brand-dark-blue">Director of Business Development &amp; Investor Relations</p>
                    <div class="hover-info center-block ">
                        <hr>
                        <p>Alix builds and manages the Business Development and Investor Relations team, along with a $60+ million portfolio of investors.<br>
                        <span class="brand-dark-blue">MORE &gt; </span></p>
                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="AlixLebec">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="39.2 22.3 25 24.5" data-dismiss="modal" aria-label="Close">
                    <path d="M39.5,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4l10.3-10.3L62,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4c0.5-0.5,0.5-1.3,0-1.8L53.5,34.3l9.8-9.8c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0l-9.8,9.8l-9.8-9.8c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l9.8,9.8L39.5,44.6C39,45.1,39,45.9,39.5,46.4z"></path>
                </svg>
                  <div class="modal-body">
                      <img class="center-block" src="https://waterequity.s3.amazonaws.com/media/filer_public/73/fc/73fcc6d6-1726-4235-b2eb-eadcb2cb6b94/alixlebec.jpg">
                      <h4 class="brand-dark-blue">Alix Lebec</h4>
                      <p class="brand-dark-blue">Director of Business Development &amp; Investor Relations</p>
                      <hr>
                      <p>Prior to joining WaterEquity, Alix built and led Water.org’s entrepreneurial Strategic Alliances department. Under her leadership, Water.org developed a growing $45+ million portfolio of strategic donors to launch and expand the WaterCredit model worldwide. Alix is now building and managing the Business Development and Investor Relations team, along with a $60+ million portfolio of investors.</p>
                      <p>Prior to WaterEquity and Water.org, Alix developed and managed communications, and social and human development initiatives at the World Bank in France and Southeast Asia. This includes leading a documentary film project in Cambodia and an education initiative for street children in Thailand. Alix also spearheaded innovative partnerships with new social enterprises and non-profits at the Clinton Global Initiative, focusing on a wide range of issues including education, micro-insurance, and post-conflict development in Africa, Asia, and Latin America and the Caribbean.</p>
                      <p>Alix received her B.A in International Business and Administration from the American University of Paris and holds a Master of Science in Social Policy, Economics, and Post-conflict Development from the London School of Economics.</p>
                  </div>
                </div>
              </div>
            </div><!-- /.modal -->

            <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#MikeSparks">
                <div class="col-md-12 center-block">
                    <div class="center-block background--brand-dark-blue pic" style="background-image: url(https://waterequity.s3.amazonaws.com/media/filer_public/21/5e/215e0bd5-60bb-4edf-858a-be50da339a6a/mikesparks.jpg)">
                    </div>
                    <h4 class="brand-dark-blue">Mike Sparks</h4>
                    <p class="brand-dark-blue">Senior Business Development Manager</p>
                    <div class="hover-info center-block ">
                        <hr>
                        <p>Mike Sparks is responsible for creating and cultivating relationships in both U.S. and international debt markets.
                            <br>
                            <span class="brand-dark-blue">MORE &gt; </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="MikeSparks">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="39.2 22.3 25 24.5" data-dismiss="modal" aria-label="Close">
                    <path d="M39.5,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4l10.3-10.3L62,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4c0.5-0.5,0.5-1.3,0-1.8L53.5,34.3l9.8-9.8c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0l-9.8,9.8l-9.8-9.8c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l9.8,9.8L39.5,44.6C39,45.1,39,45.9,39.5,46.4z"></path>
                </svg>
                  <div class="modal-body">
                      <img class="center-block" src="https://waterequity.s3.amazonaws.com/media/filer_public/21/5e/215e0bd5-60bb-4edf-858a-be50da339a6a/mikesparks.jpg">
                      <h4 class="brand-dark-blue">Mike Sparks</h4>
                      <p class="brand-dark-blue">Senior Business Development Manager</p>
                      <hr>
                      <p>Mike Sparks is responsible for creating and cultivating relationships in both U.S. and international debt markets. Prior to WaterEquity, Mike spent 20 years working in New York City and London in the U.S. Treasury debt, European Repurchase agreements and Emerging Market Sovereign debt markets. He is also active in several international and regional charities.  </p>
                      <p>Mike studied Economics and Political Science at University of Missouri - Kansas City and has passed the series 7 and 63 exams.</p>
                  </div>
                </div>
              </div>
            </div><!-- /.modal -->

            <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#ElanEmanual">
                <div class="col-md-12 center-block">
                    <div class="center-block background--brand-dark-blue pic" style="background-image: url(https://waterequity.s3.amazonaws.com/media/filer_public/c8/00/c8007bab-0e9e-4cb7-afca-2e89b291a3dc/elanemanual.jpg)">
                    </div>
                    <h4 class="brand-dark-blue">Elan Emanual</h4>
                    <p class="brand-dark-blue">Senior Business Development Manager</p>
                    <div class="hover-info center-block ">
                        <hr>
                        <p>Elan Emanuel is responsible for building a portfolio of social impact investors to launch WaterEquity funds and accelerate our impact addressing the global water crisis
                            <br>
                            <span class="brand-dark-blue">MORE &gt; </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="ElanEmanual">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="39.2 22.3 25 24.5" data-dismiss="modal" aria-label="Close">
                    <path d="M39.5,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4l10.3-10.3L62,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4c0.5-0.5,0.5-1.3,0-1.8L53.5,34.3l9.8-9.8c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0l-9.8,9.8l-9.8-9.8c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l9.8,9.8L39.5,44.6C39,45.1,39,45.9,39.5,46.4z"></path>
                </svg>
                  <div class="modal-body">
                      <img class="center-block" src="https://waterequity.s3.amazonaws.com/media/filer_public/c8/00/c8007bab-0e9e-4cb7-afca-2e89b291a3dc/elanemanual.jpg">
                      <h4 class="brand-dark-blue">Elan Emanual</h4>
                      <p class="brand-dark-blue">Senior Business Development Manager</p>
                      <hr>
                      <p>Elan Emanuel is responsible for building a portfolio of social impact investors to launch WaterEquity funds and accelerate our impact addressing the global water crisis.</p>
                      <p>Elan has more than a decade of experience in international development and excels at forging long-term strategic &amp; public-private partnerships. Previously, Elan launched a successful global cocoa program at Fair Trade USA harnessing market-driven forces for rural development. Elan also has extensive experience in the legal sector, domestically for Hanson Bridgett LLC, and internationally for the International Criminal Tribunal for Rwanda and the Sierra Leone Ministry of Foreign Affairs.</p>
                      <p>Elan holds a J.D. from the University of California, Berkeley School of Law and a B.A. in History from the University of Michigan, Ann Arbor.</p>
                  </div>
                </div>
              </div>
            </div><!-- /.modal -->

            <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#HannahKovich">
                <div class="col-md-12 center-block">
                    <div class="center-block background--brand-dark-blue pic" style="background-image: url(https://waterequity.s3.amazonaws.com/media/filer_public/40/63/4063d1c0-9193-4d89-aba0-235983bc521a/hannahkovich.jpg)">
                    </div>
                    <h4 class="brand-dark-blue">Hannah Kovich</h4>
                    <p class="brand-dark-blue">Investor Relations Manager</p>
                    <div class="hover-info center-block ">
                        <hr>
                        <p>Hannah Kovich is responsible for stewardship of donors and investors through due diligence materials, performance reports and internal structures and processes.
                            <br>
                            <span class="brand-dark-blue">MORE &gt; </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="HannahKovich">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="39.2 22.3 25 24.5" data-dismiss="modal" aria-label="Close">
                    <path d="M39.5,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4l10.3-10.3L62,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4c0.5-0.5,0.5-1.3,0-1.8L53.5,34.3l9.8-9.8c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0l-9.8,9.8l-9.8-9.8c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l9.8,9.8L39.5,44.6C39,45.1,39,45.9,39.5,46.4z"></path>
                </svg>
                  <div class="modal-body">
                      <img class="center-block" src="https://waterequity.s3.amazonaws.com/media/filer_public/40/63/4063d1c0-9193-4d89-aba0-235983bc521a/hannahkovich.jpg">
                      <h4 class="brand-dark-blue">Hannah Kovich</h4>
                      <p class="brand-dark-blue">Investor Relations Manager</p>
                      <hr>
                      <p>Hannah Kovich is responsible for thoughtful stewardship of donors and investors through the crafting of effective due diligence materials, performance reports and the development of internal structures and processes.</p>
                      <p>Previously, Hannah served as a member of Water.org's Strategic Alliances department as a part of the grants team. Prior to Water.org, she supported regional food security at Harvesters – the Community Food Network.</p>
                      <p>Hannah received a B.A. in Political Science from Kansas State University.</p>
                  </div>
                </div>
              </div>
            </div><!-- /.modal -->

            <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#JeffBorchardt">
                <div class="col-md-12 center-block">
                    <div class="center-block background--brand-dark-blue pic" style="background-image: url(https://waterequity.s3.amazonaws.com/media/filer_public/34/2f/342fe99c-958e-485a-8f0d-1bac267db2f2/jeffborchardt.jpg)">
                    </div>
                    <h4 class="brand-dark-blue">Jeff Borchardt</h4>
                    <p class="brand-dark-blue">Controller</p>
                    <div class="hover-info center-block ">
                        <hr>
                        <p>Jeff Borchardt is responsible for managing WaterEquity's accounting, budgeting, and tax compliance.
                            <br>
                            <span class="brand-dark-blue">MORE &gt; </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="JeffBorchardt">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="39.2 22.3 25 24.5" data-dismiss="modal" aria-label="Close">
                    <path d="M39.5,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4l10.3-10.3L62,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4c0.5-0.5,0.5-1.3,0-1.8L53.5,34.3l9.8-9.8c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0l-9.8,9.8l-9.8-9.8c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l9.8,9.8L39.5,44.6C39,45.1,39,45.9,39.5,46.4z"></path>
                </svg>
                  <div class="modal-body">
                      <img class="center-block" src="https://waterequity.s3.amazonaws.com/media/filer_public/34/2f/342fe99c-958e-485a-8f0d-1bac267db2f2/jeffborchardt.jpg">
                      <h4 class="brand-dark-blue">Jeff Borchardt</h4>
                      <p class="brand-dark-blue">Controller</p>
                      <hr>
                      <p>Jeff Borchardt is responsible for managing WaterEquity's accounting, budgeting, and tax compliance. He brings over 30 years of executive, financial and regulatory experience in the commodities financial services industry. </p>
                      <p>He served on the board of the National Futures Association, the self-regulatory organization for the U.S. derivatives industry. He is a past board member and treasurer of the Commodity Markets Council, a trade association that advocates for open and competitive markets. He is also a past board member of Northwest Foundation, Inc., which oversees the private donations and endowments for Northwest Missouri State University. Jeff was a 2013 inductee to the Futures Industry Hall of Fame.</p>
                      <p>Jeff received a B.S. in Accounting from Northwest Missouri State University. He also earned a Certified Public Accountant Certificate.</p>
                  </div>
                </div>
              </div>
            </div><!-- /.modal -->

            <div class="col-lg-4 col-md-6" data-toggle="modal" data-target="#GeoffWise">
                <div class="col-md-12 center-block">
                    <div class="center-block background--brand-dark-blue pic" style="background-image: url(https://waterequity.s3.amazonaws.com/media/filer_public/7f/2e/7f2ef00d-0b4f-4a34-97e0-2bb6cc932dcf/geoffwise.jpg)">
                    </div>
                    <h4 class="brand-dark-blue">Geoff Wise</h4>
                    <p class="brand-dark-blue">Financial Analyst</p>
                    <div class="hover-info center-block ">
                        <hr>
                        <p>Geoff Wise is responsible for building and maintaining financial models, portfolio analysis and investment research.
                            <br>
                            <span class="brand-dark-blue">MORE &gt; </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="GeoffWise">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="39.2 22.3 25 24.5" data-dismiss="modal" aria-label="Close">
                    <path d="M39.5,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4l10.3-10.3L62,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4c0.5-0.5,0.5-1.3,0-1.8L53.5,34.3l9.8-9.8c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0l-9.8,9.8l-9.8-9.8c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l9.8,9.8L39.5,44.6C39,45.1,39,45.9,39.5,46.4z"></path>
                </svg>
                  <div class="modal-body">
                      <img class="center-block" src="https://waterequity.s3.amazonaws.com/media/filer_public/7f/2e/7f2ef00d-0b4f-4a34-97e0-2bb6cc932dcf/geoffwise.jpg">
                      <h4 class="brand-dark-blue">Geoff Wise</h4>
                      <p class="brand-dark-blue">Financial Analyst</p>
                      <hr>
                      <p>Geoff Wise is responsible for building and maintaining financial models, portfolio analysis and investment research.  Geoff previously worked in the mutual fund investments field for over 18 years, focusing on .  client relations, portfolio research and financial modeling. Prior to working in investments, Geoff also spent time in engineering. </p>
                      <p>Geoff is a Chartered Financial Analyst. He received his B.A. from the Rose-Hulman Institute of Technology in Civil Engineering and holds a Master of Environmental Science &amp; Engineering from the Colorado School of Mines. </p>
                  </div>
                </div>
              </div>
            </div><!-- /.modal -->


            <div class="col-lg-4 col-md-6 col-lg-push-4" data-toggle="modal" data-target="#GinaZanolli">
                <div class="col-md-12 center-block">
                    <div class="center-block background--brand-dark-blue pic" style="background-image: url(https://waterequity.s3.amazonaws.com/media/filer_public/d6/98/d698174a-f160-4936-847e-c3a6e0d9168a/ginazanolli.jpg)">
                    </div>
                    <h4 class="brand-dark-blue">Gina Zanolli</h4>
                    <p class="brand-dark-blue">WaterEquity Manager</p>
                    <div class="hover-info center-block ">
                        <hr>
                        <p>Gina Zanolli is responsible for identifying and developing key internal management structures and processes for WaterEquity.
                            <br>
                            <span class="brand-dark-blue">MORE &gt; </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="GinaZanolli">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="39.2 22.3 25 24.5" data-dismiss="modal" aria-label="Close">
                    <path d="M39.5,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4l10.3-10.3L62,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4c0.5-0.5,0.5-1.3,0-1.8L53.5,34.3l9.8-9.8c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0l-9.8,9.8l-9.8-9.8c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l9.8,9.8L39.5,44.6C39,45.1,39,45.9,39.5,46.4z"></path>
                </svg>
                  <div class="modal-body">
                      <img class="center-block" src="https://waterequity.s3.amazonaws.com/media/filer_public/d6/98/d698174a-f160-4936-847e-c3a6e0d9168a/ginazanolli.jpg">
                      <h4 class="brand-dark-blue">Gina Zanolli</h4>
                      <p class="brand-dark-blue">WaterEquity Manager</p>
                      <hr>
                      <p>Gina Zanolli is responsible for identifying and developing key internal management structures and processes for WaterEquity. Previously, Gina served as a member of Water.org's monitoring &amp; evaluation and executive support teams. Prior to Water.org, she worked to alleviate poverty at Partners In Health and Landesa.</p>
                      <p>Gina received a B.A. in International Studies and holds a Master of Public Administration with a focus on Economic Development from the University of Washington.</p>
                  </div>
                </div>
              </div>
            </div><!-- /.modal -->

        </div>
    </div>
</div>
