<div>Primary font: "GothamLight", sans-serif;</div>
<div><em>Primary font italic: "GothamLight", sans-serif;</em></div>
<div><strong>Primary font bold: "GothamBook", sans-serif;</strong></div>
<div class="font-cta">Call to action font: "GothamMedium", sans-serif;</div>
<div class="font-secondary">Utility font: "GothamBook", sans-serif;</div>
<div class="font-heading">Heading Font: "GothamBold", sans-serif;</div>
