{{> organisms-header }}
<div class="container-fluid hero img-bg" style="background-image: url(../../images/challengePeople.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 center-block text-center">
                <h2 class="color--white ribbon-bg">CHARITY ALONE CANNOT MATCH THE SCALE OF THIS GLOBAL CRISIS</h2>
            </div>
        </div>
    </div>
</div>
<div class="container container_padding--medium">
    <div class="row">
        <div class="col-md-8 col-sm-12 center-block text-center">
            <h2>A Game-Changing Solution</h2>
            <p>We stand on the brink of something monumental. The ability to scale and accelerate a solution to end the global water crisis.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center padding-54">
            <img src="../../images/663MillionChallenge.png" alt="invest">
            <p><br>There are over 663 million people without access to safe drinking water</p>
        </div>
        <div class="col-md-4 text-center padding-54">
            <img src="../../images/2.4BillionChallenge.png" alt="invest">
            <p><br>Every 90 seconds a child dies from a preventable water-related illness</p>
        </div>
        <div class="col-md-4 text-center padding-54">
            <img src="../../images/90SecondsChallenge.png" alt="invest" style="margin-top: -4px;">
            <p><br>Building on philanthropy to scale your impact.</p>
        </div>
    </div>
</div>
<div class="container-fluid container_padding--medium img-bg img-bottom img-x-repeat" style="background-image: url(../../images/peopleSihouettesRepeater.png)">
</div>
<div class="container-fluid container_padding--medium background--light-blue text-center">
    <h2 class="color--white col-md-6 center-block">CHARITY ALONE IS NOT ENOUGH TO SOLVE THIS PROBLEM</h2>
    <p class="brand-dark-blue col-md-4 center-block">
        It would take donations of $200 billion a year over five years to end the global water crisis
    </p>
    <div class="cup" style="position: relative">
        <img class="img-responsive center-block drip"
            src="../../images/drop.png" alt="drinking water"
            style="position: absolute;
                left: 50%;
                margin-left: -120px;
                z-index: 2;
                top: -20px;
                transition: top 0.1s ease;"
        />
        <img class="img-responsive center-block cup" src="../../images/cupNoDrip.png" alt="drinking water"  />
    </div>
    <p class="brand-dark-blue col-md-4 center-block">
        <br>Currently, annual aid amounts to just $8 billion
    </p>
</div>
<div class="container-fluid container_padding--medium img-bg img-bottom img-big-space" style="background-image: url(../../images/challengedPerson.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-block text-center">
                <h2>ACCESS TO AFFORDABLE FINANCING IS LIMITED</h2>
                <p>Charity plays an important role, helping those in extreme poverty. But what largely goes overlooked is the hundreds of millions living in poverty who are willing and able to take out and repay small loans to bring piped water into their homes or construct a toilet.</p>
                <p>So what’s keeping that from happening? The microfinance institutions and other enterprises that serve the needs of those at the base of the economic pyramid require access to more affordable capital to respond to the high demand for these services. The result today is an underserved market, and a missed opportunity.</p>
                <hr>
                <p class="brand-dark-blue">565 million people need access to affordable financing for water and sanitation.</p>
                <p class="brand-blue">This represents $12 billion in demand.</p>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container_padding--medium background--light-blue text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-block text-center">
                <h2 class="color--white">WE NEED A GAME-CHANGING INNOVATION</h2>
                <p class="color--white">
                    What if we could make it feasible to meet that pent-up demand? And, what if we could engage the very people affected by the global water crisis to help solve the crisis? This is the innovation that is WaterEquity.
                </p>
                <p><a title="The Solution" href="#" class="btn ">The Solution</a></p>
            </div>
        </div>
    </div>
</div>
{{> organisms-footer }}
