{{> organisms-header }}
<div class="container-fluid hero img-bg" style="background-image: url(../../images/peopleFoundSolution.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 center-block text-center">
                <h2 class="color--white ribbon-bg">EMPOWERING PEOPLE IN CRISIS TO HELP SOLVE THE CRISIS</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 center-block text-center container_padding--medium">
            <h2>CATALYTIC PHILANTHROPY +  SOCIAL IMPACT INVESTING</h2>
            <p>WaterEquity was founded on a powerful insight: When you combine catalytic philanthropy and social impact investing, you can scale and accelerate a solution that can take down the global water and sanitation crisis.</p>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-6 background--medium-blue container_padding--medium">
            <div class="col-md-8 col-md-offset-3 text-center">
                <img src="../../images/philanthropy_icon.png" alt="Catalytic Philantropy" />
                <h3 class="brand-dark-blue">Catalytic Philantropy</h3>
                <p class="color--white text-left">
                    <br>Catalytic philanthropy removes the roadblocks, helping the world’s poor access safe water and a toilet. For example, it can pay for market studies to help microfinance institutions identify viable lending opportunities in a region. It can fund education to get people ready for the loans. And more.
                </p>
            </div>
            <img class="solutions-plus" src="../../images/solutionsPlus_icon.png" alt="plus" />
        </div>
        <div class="col-md-6 background--light-blue container_padding--medium">
            <div class="col-md-8 col-md-offset-1 text-center">
                <img src="../../images/impact_icon.png" alt="Social Impact Investing" />
                <h3 class="brand-dark-blue">Social Impact Investing</h3>
                <p class="color--white text-left">
                    <br>Social impact investing creates a pipeline of affordable capital that accelerates and expands microfinance institutions’ ability to make these loans. And unlike a traditional donation, the returns from a social impact investment can be reinvested, exponentially expanding the impact.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <a href="#" class="playVideo"><img src="../../images/solutionVideo.jpg" class="img-responsive" alt="video" /></a>
        <div class="overlay">
        <div class="video-container" id="video-container">
          <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="39.2 22.3 25 24.5">
            <path d="M39.5,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4l10.3-10.3L62,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4c0.5-0.5,0.5-1.3,0-1.8L53.5,34.3l9.8-9.8c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0l-9.8,9.8l-9.8-9.8c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l9.8,9.8L39.5,44.6C39,45.1,39,45.9,39.5,46.4z"
            />
          </svg>
          <iframe id="video" src="https://player.vimeo.com/video/90074626" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 center-block text-center container_padding--medium">
            <h2>565 MILLION PEOPLE.<br>$12 BILLION DEMAND.</h2>
            <p>There is $12 billion in demand among the world’s poor for small, affordable loans to pay for improved water and sanitation. This represents at least 565 million people.</p>
        </div>
    </div>
</div>
<div class="container-fluid container_padding--medium img-bg img-bottom img-x-repeat" style="background-image: url(../../images/peopleSihouettesRaisedHandsRepeater.png)">
</div>
<div class="container-fluid container_padding--medium background--light-blue text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-block text-center">
                <h2 class="color--white">Together, catalytic philanthropy and social impact investing create a solution like no other.</h2>
                <p><a title="Make an Impact" href="#" class="btn ">Make an Impact</a></p>
            </div>
        </div>
    </div>
</div>
{{> organisms-footer }}
