{{> organisms-header }}
<div class="container-fluid hero img-bg" style="background-image: url(../../images/investInWater.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 center-block text-center">
                <h2 class="color--white ribbon-bg">INVESTMENTS THAT EMPOWER PEOPLE AND TRANSFORM LIVES</h2>
            </div>
        </div>
    </div>
</div>
<div class="container container_padding--medium">
    <div class="row">
        <div class="col-md-8 col-sm-12 center-block text-center">
            <h2>An idea big enough to take on the global water crisis</h2>
            <p>WaterEquity taps into the power of global capital markets to create a solution that can tackle the scale of the global water crisis. Through the combination of catalytic philanthropy and social impact investments, WaterEquity scales a solution that accelerates access to safe water and sanitation for the world’s poor. Better yet, it engages those in the water crisis to help solve the crisis, creating a solution that not only sustains, but transforms lives.</p>
        </div>
    </div>
</div>
<div class="container-fluid container_padding--medium background--xtra-light-blue">
    <h2 class="text-center">HOW IT WORKS</h2>
    <div class="col-md-8 center-block">
        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" src="../../images/pipeline.png" alt="Develop the pipeline">
            </div>
            <div class="media-body">
                <h3 class="media-heading brand-dark-blue">Develop the pipeline</h3>
                <p>Building on 13 years of experience with WaterCredit, WaterEquity will identify investment-ready enterprises able to serve the water and sanitation needs of the world’s poor. This pipeline for investment will include microfinance institutions, product manufacturers and water utilities.</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" src="../../images/unlockCapital.png" alt="Unlock global capital markets ">
            </div>
            <div class="media-body">
                <h3 class="media-heading brand-dark-blue">Unlock global capital markets </h3>
                <p>WaterEquity will connect social impact investors with enterprises that have the potential to reach hundreds of millions of people who lack access to safe water and sanitation.</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" src="../../images/deployCapital.png" alt="Deploy the capital">
            </div>
            <div class="media-body">
                <h3 class="media-heading brand-dark-blue">Deploy the capital</h3>
                <p>Deploy millions of dollars in social investment capital to enterprises serving the water and sanitation needs of the world’s poor. As an example, an investment in a WaterEquity fund enables us to provide debt capital to microfinance institutions providing small and affordable loans to poor households to help them connect to piped water networks or install a toilet in their home.</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" src="../../images/mitigateRisk.png" alt="Mitigate the risk and maximize the impact">
            </div>
            <div class="media-body">
                <h3 class="media-heading brand-dark-blue">Mitigate the risk and maximize the impact</h3>
                <p>Deploy millions of dollars in social investment capital to enterprises serving the water and sanitation needs of the world’s poor. As an example, an investment in a WaterEquity fund enables us to provide debt capital to microfinance institutions providing small and affordable loans to poor households to help them connect to piped water networks or install a toilet in their home.</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" src="../../images/reportProgress.png" alt="Report on the progress">
            </div>
            <div class="media-body">
                <h3 class="media-heading brand-dark-blue">Report on the progress</h3>
                <p>We use the generally-accepted performance metrics for impact investing established by IRIS. These help measure social, environmental, and financial performance as we report back to investors.</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" src="../../images/amplifyImpact.png" alt="Amplify the impact">
            </div>
            <div class="media-body">
                <h3 class="media-heading brand-dark-blue">Amplify the impact</h3>
                <p>Catalytic philanthropy can be a powerful tool for correcting market failures. But to amplify its impact, we must tap into additional sources of capital for those enterprises that are poised to scale water and sanitation solutions. WaterEquity will deliver this new capital, empowering millions more people to secure these services than philanthropy alone.</p>
            </div>
        </div>
    </div>
</div>

<div class="container container_padding--medium">
    <div class="row vertical-center-wrapper">
        <div class="col-md-6">
            <img class="img-responsive" src="https://waterequity.s3.amazonaws.com/media/filer_public/d9/f2/d9f2879c-4489-4c37-b7a0-67684cf539ae/we_ebook_mockup.png" alt="waterequity ebook" />
        </div>
        <div class="col-md-6">
            <h2>Investing to End the Global Water Crisis</h2>
            <p>
                WaterCredit Investment Fund 3 (WCIF3) is projected to provide safe water and sanitation solutions to 4.6 million people over 7 years. And generate a positive financial return for investors. (COPY TO BE WRITTEN)
            </p>
            <p><a title="download the waterequity ebook" href="#" class="btn background--medium-blue">Download Now</a></p>
        </div>
    </div>
</div>
<div class="container-fluid container_padding--medium background--light-blue text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-block text-center">
                <h2 class="color--white">THE INVESTMENT</h2>
                <p class="color--white">
                    WaterCredit Investment Fund 3 (WCIF3) is projected to provide safe water and sanitation solutions to 4.6 million people over 7 years. And generate a positive financial return for investors.
                </p>
                <p><a title="The Solution" href="#" class="btn ">The Solution</a></p>
            </div>
        </div>
    </div>
</div>
{{> organisms-footer }}
