{{> organisms-header }}
<div class="container-fluid hero img-bg" style="background-image: url(../../images/investInWater.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 center-block text-center">
                <h2 class="color--white ribbon-bg">WATER CREDIT INVESTMENT FUND 3  (WCIF3)</h2>
            </div>
        </div>
    </div>
</div>
<div class="container container_padding--medium">
    <div class="row">
        <div class="col-md-8 col-sm-12 center-block text-center">
            <h2>A social impact investment fund developed to help end the global water crisis</h2>
            <p>WaterEquity’s next social impact investment fund will raise and deploy $50 million to enterprises serving the water and sanitation needs of the poor. Most notably, it will help fund small, affordable loans to these families, enabling them to gain access to safe water and sanitation. The ingenuity of this approach is its ability to transform lives by empowering people to participate as customers.</p>
        </div>
    </div>
</div>
<div class="container-fluid container_padding--medium color--white background--light-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 center-block text-center">
                <h2>What it will accomplish</h2>
                <p>
                    <strong>This impact-first fund aims to ensure that at least 4.6 million people gain access to improved water and sanitation, while generating a positive financial return for investors. </strong>
                    <br>
                    Additionally, the fund will:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center padding-54">
                <img src="../../images/connectSocial.png" alt="impact" />
                <p class="text-left"><br>Connect social impact investors in the U.S. and Europe with enterprises serving water and sanitation needs.</p>
            </div>
            <div class="col-md-4 text-center padding-54">
                <img src="../../images/cashHandler.png" alt="enhance" style="margin-top: 16px; margin-bottom: 10px;" />
                <p class="text-left"><br>Enhance the pool of affordable investment capital available for these enterprises to help them scale their efforts.</p>
            </div>
            <div class="col-md-4 text-center padding-54">
                <img src="../../images/swurl.png" alt="help" style="margin-top: 14px" />
                <p class="text-left"><br>Help these enterprises move along the capital spectrum to reduce their dependency on philanthropic capital.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container_padding--medium background--xtra-light-blue">
    <h2 class="text-center">How the fund will work</h2>
    <div class="col-md-8 center-block">
        <p>
            Water Credit Investment Fund 3 will raise capital from accredited investors in the US, and investors in Europe. The capital structure is under development; however, it is likely to include senior debt, subordinated debt, equity, as well as first loss guarantee.
        </p>
        <p>
            The Fund will be managed by a dedicated portfolio investment team with both in-country and US-based staff. This team will draw upon 13 years of WaterCredit experience and expertise gained from the implementation of WaterCredit Investment Fund 1.
        </p>
        <p>
            The Fund aims to mitigate risk and maximize impact by investing in proven WaterCredit partner organizations spread over multiple geographies, business models and market segments. Candidate geographies include India, Indonesia, Cambodia, and the Philippines.  Investments will skew toward India, which provides the deepest WaterCredit experience base.
        </p>
    </div>
</div>
<div class="container-fluid container_padding--medium">
    <h2 class="text-center">How we will measure</h2>
    <div class="col-md-8 center-block">
        <p>
            WaterEquity will report on key financial and social performance metrics associated with its investments. This will include social impact measures recommended by IRIS, the catalog of generally accepted performance metrics managed by the Global Impact Investing Network (GIIN). IRIS is utilized by leading impact investors as the third-party standard standard to measure the social, environmental and financial success of social impact investments.
        </p>
    </div>
</div>

<div class="container-fluid container_padding--medium background--light-blue text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-block text-center">
                <h2 class="color--white">Let’s end the global water crisis in our lifetime </h2>
                <p><a title="Make an Impact" href="/make-impact" class="btn ">Make an Impact</a></p>
            </div>
        </div>
    </div>
</div>
{{> organisms-footer }}
