{{> organisms-header }}
<div class="container-fluid hero img-bg" style="background-image: url(../../images/investInWater.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 center-block text-center">
                <h2 class="color--white ribbon-bg">Partner<br>Profiles</h2>
            </div>
        </div>
    </div>
</div>
<div class="container container_padding--medium">
    <div class="row">
        <div class="col-md-8 col-sm-12 center-block text-center">
            <h2>Partner Profiles</h2>
            <p>With WaterCredit’s 13 years of experience, we can quickly identify quality candidates to fund through Water Credit Investment Fund 3. Here are a couple examples.</p>
        </div>
    </div>
</div>
<div class="container-fluid container_padding--medium background--xtra-light-blue">
    <div class="container">
        <div class="media">
            <div class="media-left media-middle media-large">
                <img class="media-object" src="../../images/komida_logo.png" alt="Microfinance Institution Candidate | Koperasi Mitra Dhuafa(KOMIDA)">
            </div>
            <div class="media-body">
                <h3 class="media-heading brand-variant-blue">Microfinance Institution Candidate | Koperasi Mitra Dhuafa(KOMIDA)</h3>
                <ul>
                    <li>Indonesian microfinance institution founded in 2004 to provide low-income women access to capital
                    </li>
                    <li>306 members, 133 branches in 8 provinces
                    </li>
                    <li>Launched water & sanitation lending in April 2015
                    </li>
                    <li>6,000 households reached with water & sanitation financing through July 2016
                    </li>
                    <li>$1.6 million disbursed
                    </li>
                    <li>Potential to scale water and sanitation lending to reach at least 40,000 households
                    </li>
                </ul>
            </div>
        </div>
        <div class="media">
            <div class="media-left media-middle media-large">
                <img class="media-object" src="../../images/bankabio_logo.png" alt="Microfinance Institution Candidate | Koperasi Mitra Dhuafa(KOMIDA)">
            </div>
            <div class="media-body">
                <h3 class="media-heading brand-variant-blue">Microfinance Institution Candidate | Koperasi Mitra Dhuafa(KOMIDA)</h3>
                <ul>
                    <li>Indian private limited company founded in 2011 to manufacture cost-effective sanitation technologies including toilets and bio-tanks
                    </li>
                    <li>2 production facilities and sales in 15 Indian states
                    </li>
                    <li>Profitable, rapidly growing business with significant scaling potential
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container_padding--medium">
    <h2 class="text-center">How we will measure</h2>
    <div class="col-md-8 center-block">
        <p>
            WaterEquity will report on key financial and social performance metrics associated with its investments. This will include social impact measures recommended by IRIS, the catalog of generally accepted performance metrics managed by the Global Impact Investing
            Network (GIIN). IRIS is utilized by leading impact investors as the third-party standard standard to measure the social, environmental and financial success of social impact investments.
        </p>
    </div>
</div>

<div class="container-fluid container_padding--medium background--light-blue text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-block text-center">
                <h2 class="color--white">Interested in investing?</h2>
                <p><a title="Make an Impact" href="/make-impact" class="btn ">Make an Impact</a></p>
            </div>
        </div>
    </div>
</div>
{{> organisms-footer }}
