{{> organisms-header }}
<div class="container-fluid hero img-bg" style="background-image: url(../../images/aboutBoys.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 center-block text-center">
                <h2 class="color--white ribbon-bg">About<br>WaterEquity</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 center-block text-center container_padding--medium">
            <h2>WaterEquity is an innovation of water.org</h2>
            <p>WaterEquity builds on the decades of experience and success of Water.org – helping millions by breaking down the barriers to safe water and sanitation.</p>
            <p>
                <img src="../../images/water.orgLogo.png" alt="water.org" />
            </p>
        </div>
    </div>
</div>
<div class="container-fluid background--xtra-light-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 center-block text-center container_padding--medium">
                <h2>Our Goal</h2>
                <p>Our goal is to attract and deploy social investment capital to high-growth, purpose-driven enterprises that have the potential to serve hundreds of millions of people who lack access to safe water and sanitation. </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 center-block text-center container_padding--medium">
            <h2>Our Approach</h2>
            <p>Our approach is unlike any other in the sector. By tapping into global capital markets, we can unlock the ability to scale and accelerate solutions that have the potential to end the global water crisis in our lifetime.</p>
        </div>
    </div>
</div>
{{> molecules-staff-blocks }}
<div class="container-fluid container_padding--medium background--light-blue text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-block text-center">
                <h2 class="color--white">Let's end the global water crisis in our lifetime</h2>
                <p><a title="Make an Impact" href="/make-impact/" class="btn ">Make an Impact</a></p>
            </div>
        </div>
    </div>
</div>
{{> organisms-footer }}
