{{> organisms-header }}
<div class="container-fluid hero img-bg" style="background-image: url(https://waterequity.s3.amazonaws.com/media/filer_public/6e/5a/6e5a0a92-3b24-4cdd-907e-446c0da92efc/make-a-loan-for-the-people.jpg); background-attachment: fixed">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 center-block text-center">
                <h2 class="color--white ribbon-bg">Make an loan<br>Make an impact</h2>
            </div>
        </div>
    </div>
</div>
<div id="make-loan" class="container-fluid container_padding--medium background--xtra-light-blue text-center">
    <div class="row">
        <div class="col-md-8 center-block text-center">
            <h2>Make a loan</h2>
            <form id="loanForm" class="form-horizontal text-left center-block">
                <div class="form-group row" data-toggle="buttons">
                    <label class="radio-inline radio btn col-xs-1" for="radio-value">
                        <input type="radio" min="100" class="amount" name="amount" id="radio-value" data-stripe="amount" /> <h2 style="position: absolute; right: -10px;top: 5px;">$</h2>
                    </label>
                    <div class="col-xs-3">
                        <input min="100" max="500000" type="text" class="form-control input-value" style="margin-top: -8px" />
                    </div>
                    <span class="col-xs-7" style="padding: 0">$100 is all it takes to make an impact</span>
                    <br>
                    <label class="radio-inline radio btn col-xs-4 active" for="230">
                        <input type="radio" name="amount" id="230" data-stripe="amount" value="230" checked /> <h2>$230</h2>
                    </label>
                    <span class="col-xs-7" style="padding: 0; margin-top: -9px">Brings water or the dignity of a toilet to a family living in the crisis</span>
                </div>
                <div class="form-group row">
                    <div class="col-md-8">
                        <label>Card Number:</label>
                        <input class="form-control cc_number"
                            data-stripe="number"
                            autocomplete="cc-number"
                            required creditcard />
                    </div>
                    <div class="col-xs-4">
                        <label>Expires:</label>
                        <input class="form-control cc_exp_month"
                            placeholder="MM/YY"
                            data-stripe="exp"
                            autocomplete="cc-exp"
                            required />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-8">
                        <label>Name on Card:</label>
                        <input type="text"
                            class="form-control name"
                            autocomplete="name"
                            data-stripe="name"
                            name="name"
                            required />
                    </div>
                    <div class="col-xs-4">
                        <label>Card Code:</label>
                        <input type="text"
                            class="form-control cvc"
                            placeholder="CVC"
                            autocomplete="off"
                            required />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12">
                        <label>Email Address: <em>We'll use this to update you on your loan</em></label>
                            <input type="email"
                                class="form-control email"
                                autocomplete="email"
                                data-stripe="email-address"
                                name="email-address"
                                required />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6">
                        <label>Zip:</label>
                        <input type="text"
                            class="form-control"
                            autocomplete="postal-code"
                            data-stripe="address_zip" />
                    </div>
                    <div class="col-xs-6">
                        <label>Country:</label>
                        <input type="text"
                            class="form-control"
                            autocomplete="billing country"
                            data-stripe="address_country" />
                    </div>
                </div>
                <div class="form-group checkbox row" data-toggle="buttons"style="margin-top: 34px">
                    <label class="btn check-inline check color--white center-block" for="agree">
                      <input type="checkbox" value="true" name="accept-terms" id="agree" required />
                      <span class="col-xs-12">I accept terms of agreement </span>
                    </label>
                </div>
                <a style="margin:-52px 0px 20px 40px;display:block;position:relative" href="/terms-of-use/" target="_blank">WaterEquity Terms of Use Agreement</a>
                <div class="payment-errors alert alert-warning collapse"></div>
                <div class="form-group text-center ">
                    <input type="submit" class="btn lend" value="Confirm Payment" />
                </div>
            </form>
            <div class="col-md-9 center-block padding-54 background--light-blue color--white thanks">
                <h2>Thank you for your loan!</h2>
                <p>Please check your inbox for a confirmation email. If you have any questions please email us at <a href="mailto:info@waterequity.org" class="color--white">info@waterequity.org</a> or call <a href="tel:8168008100" class="color--white">(816) 800-8100</a>.</p>
            </div>
            <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
            <script src="http://js.stripe.com/v2/"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/additional-methods.min.js"></script>
            <script>

                $(function() {
                    var form = $('#loanForm');

                    Stripe.setPublishableKey('pk_test_zD30U7Uo8bWMbZXot8UyBkoK');

                    // window.setInterval(function(){
                        // form = $('#loanForm');
                        form.validate({
                            submitHandler: function (form) {
                                return false;
                            },
                            errorPlacement: function(error, element) {
                                error.delay(1000).appendTo(element.parent($('div.form-group')));
                            }
                        });

                        $.validator.addClassRules('cc_number', {
                             required: true,
                             creditcard: true
                        });
                    // }, 1000);

                    form.submit(function(e) {
                        e.preventDefault();
                        var $form = $(e.target);

                        Stripe.card.createToken($form, function(status, response) {
                            if (response.error) {
                                $form.find('.payment-errors').text(response.error.message).show();
                            } else {
                                $form.find('input[name="stripeToken"]').remove();
                                $form.append($('<input type="hidden" name="stripeToken" />').val(response.id));
                                // You can submit the form to back-end as usual
                                $.ajax({
                                    type: 'POST',
                                    url: '/process-loan/',
                                    data: $form.serialize(),
                                    success: function(response) {
                                        loanFormSuccess();
                                    },
                                    error: function(response) {
                                        $form.find('.payment-errors').text(response.message).show();
                                    }
                                });
                            }
                        });
                        return false;
                    });
                });
            </script>
        </div>
    </div>
</div>
{{> organisms-footer }}
