{{> organisms-header }}
<div class="container-fluid hero img-bg" style="background-image: url(../../images/impactGirls.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 center-block text-center">
                <h2 class="color--white ribbon-bg">Make an investment.<br>Make an impact</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 center-block text-center container_padding--medium">
            <h2>Invest</h2>
            <p>Your investment in WaterEquity funds will unleash the potential of high-growth and purpose-driven enterprises to reach hundreds of millions of people in need of access to improved water and sanitation. Helping to transform lives.</p>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row row-eq-height">
            <div class="col-md-6 background--brand-dark-blue container_padding--medium color--white">
                <div class="col-md-10 col-md-offset-1 invest-form-special">
                    <h3>Request a call or ask a question</h3>
                    <!-- {% render_built_form id=1 %} -->
                    <h1>Invest</h1>
                    <form action="/forms/invest/" method="post">
                        <input type='hidden' name='csrfmiddlewaretoken' value='1EBXDyAOZBO3LSiU84BfyCvJLCvuYV5NfWovzMEsdR4MKSXZ2HZGhi4fagABHLYX' />
                        <p>
                            <label for="id_your_name">Your Name:</label>
                            <input class="charfield required" id="id_your_name" maxlength="2000" name="your_name" placeholder="Your Name" type="text" required />
                        </p>
                        <p>
                            <label for="id_email_address">Email Address:</label>
                            <input class="emailfield required" id="id_email_address" maxlength="2000" name="email_address" placeholder="Email Address" type="email" required />
                        </p>
                        <p>
                            <label for="id_phone">Phone:</label>
                            <input class="floatfield required" id="id_phone" name="phone" placeholder="Phone" type="number" required />
                        </p>
                        <p>
                            <label for="id_organization">Organization:</label>
                            <input class="charfield" id="id_organization" maxlength="2000" name="organization" placeholder="Organization" type="text" />
                        </p>
                        <p>
                            <label for="id_message">Message:</label>
                            <textarea class="charfield" cols="40" id="id_message" maxlength="2000" name="message" placeholder="Message" rows="10">
                            </textarea>
                        </p>
                        <p>
                            <label for="id_contacting_us_as_or_on_behalf_of_an_accredited_investor_as_defined_in_rule_501_of_regulation_d_0">Contacting us as or on behalf of an “accredited investor” as defined in Rule 501 of Regulation D?</label>
                            <ul id="id_contacting_us_as_or_on_behalf_of_an_accredited_investor_as_defined_in_rule_501_of_regulation_d">
                                <li>
                                    <label for="id_contacting_us_as_or_on_behalf_of_an_accredited_investor_as_defined_in_rule_501_of_regulation_d_0">
                                        <input class="choicefield" id="id_contacting_us_as_or_on_behalf_of_an_accredited_investor_as_defined_in_rule_501_of_regulation_d_0" name="contacting_us_as_or_on_behalf_of_an_accredited_investor_as_defined_in_rule_501_of_regulation_d" type="radio" value="Yes"
                                        /> Yes</label>
                                </li>
                                <li>
                                    <label for="id_contacting_us_as_or_on_behalf_of_an_accredited_investor_as_defined_in_rule_501_of_regulation_d_1">
                                        <input class="choicefield" id="id_contacting_us_as_or_on_behalf_of_an_accredited_investor_as_defined_in_rule_501_of_regulation_d_1" name="contacting_us_as_or_on_behalf_of_an_accredited_investor_as_defined_in_rule_501_of_regulation_d" type="radio" value="No"
                                        /> No</label>
                                </li>
                            </ul>
                        </p>
                        <div style="clear:left;">&nbsp;</div>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div class="col-md-6 color--white ">
                <div class="background--light-blue vertical-center-wrapper row desktop-half-height">
                    <div class="col-md-12 center-block text-center container_padding--medium">
                        <img src="../../images/phone_icon.svg" alt="email" style="width: 170px;" />
                        <h2><br>817-341-5544</h2>
                    </div>
                </div>
                <div class="background--medium-blue vertical-center-wrapper row desktop-half-height">
                    <div class="col-md-12 center-block text-center container_padding--medium">
                        <img src="../../images/email_icon.svg" alt="email" style="width: 170px;" />
                        <h2 class="text-center font-reduce-size-for-mobile"><br>givelife@waterequity.org</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container-fluid container_padding--medium background--light-blue text-center" style="background-color: #82c1ea">
    <div class="container">
        <div class="row">
            <div class="col-md-8 center-block text-center color--white">
                <h2>Donate</h2>
                <p>Water has the power to break the cycle of poverty. To protect and save lives. To make a bright future possible for all. </p>
                <p>Make a donation to support Water.org today.</p>
                <p><a title="Make an Impact" href="https://donate.water.org/" class="btn ">Donate</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid background--medium-blue container_padding--medium img-bg img-big-space" style="background-image: url(../../images/happyKids.jpg); padding-top: 80px;">
</div>
{{> organisms-footer }}
